# @author, Jiacheng Ye, 904973
# modified file from workshop demonstration
# link to workshop demonstration:
# https://github.com/AURIN/comp90024/blob/master/couchdb/macos/docker-compose.yml

version: "3.9"
services:
  # because we are not runnig on a single node,
  # so no master/slave nodes.
  couchdb:
    image: "{{ couch.image }}:{{ couch.version }}"
    restart: always
    ports:
      - "5984:5984"
      - "5986:5986"
      - "4369:4369"
      - "9100-9200:9100-9200"
    volumes:
    #   - type: bind
    #     source: couchdb_data
    #     target: /opt/couchdb/data
      # - /etc/passwd:/etc/passwd:ro
      # - /etc/group:/etc/group:ro
      - "{{ couch.volume_path }}:/opt/couchdb/data"
    environment:
      - "COUCHDB_USER={{ couch.user }}"
      - "COUCHDB_PASSWORD={{ couch.pwd }}"
      - "COUCHDB_SECRET= {{ couch.secret }}"
      - "COUCHDB_NODENAME={{ ansible_host }}"
      - ERL_FLAGS="-setcookie \"{{ couch.cookie }}\" -name \"{{ ansible_host }}\""
    container_name: "{{ couch.name }}"

# volumes:
#   data:
#     external: true