<!-- @team 35
@author Jiacheng Ye   904973      Shanghai, China
@author Shiyi Xu      780801      Melbourne, Australia
@author Yuyao Ma      1111182     Yinchuan, China
@author Yujing Guan   1011792     Fuzhou, China
@author Zexin Yu      10328021    Dalian, China -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CCC Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
</head>

<body>
    <div class="title">
        <h1 class="stroke">Food Discussion Heat</h1>
    </div>
    <ul>
        <div class="nav1">
            <a href="#">AFL Discussion Heat</a>
            <div class="nav2">
                <a href="/scenario1_afl">Twitter Discussion Heat</a>
                <a href="/scenario1_afl/details">Detailed Analysis</a>
            </div>
        </div>
        <div class="nav1">
            <a href="#">Vaccine Sentiment Analysis</a>
            <div class="nav2">
                <a href="/scenario2_vaccine_positive">Positive Twitter Numbers</a>
                <a href="/scenario2_vaccine">Neutral Twitter Numbers</a>
                <a href="/scenario2_vaccine_negative">Negative Twitter Numbers</a>
                <a href="/scenario2_vaccine/details">Detailed Analysis</a>
            </div>
        </div>
        <div class="nav1">
            <a href="#">5G Sentiment Analysis</a>
            <div class="nav2">
                <a href="/scenario3_5g_positive">Positive Twitter Numbers</a>
                <a href="/scenario3_5g">Neutral Twitter Numbers</a>
                <a href="/scenario3_5g_negative">Negative Twitter Numbers</a>
                <a href="/scenario3_5g/details">Detailed Analysis</a>
            </div>
        </div>
        <div class="nav1">
            <a href="#">Food Discussion Heat</a>
            <div class="nav2">
                <a href="/scenario4_food_us">American Food Twitter Discussion Heat</a>
                <a href="/scenario4_food_cn">Chinese Food Twitter Discussion Heat</a>
                <a href="/scenario4_food_fr">French Food Twitter Discussion Heat</a>
                <a href="/scenario4_food_it">Italian Food Twitter Discussion Heat</a>
                <a href="/scenario4_food_jp">Japanese Food Twitter Discussion Heat</a>
                <a href="/scenario4_food_kr">Korean Food Twitter Discussion Heat</a>
                <a href="/scenario4_food/details">Detailed Analysis</a>
            </div>
        </div>
    </ul>
    <div id="map"></div>
    <script src="{{ url_for('static', filename = 'food_map.js')}}"></script>
    <script type="text/javascript">
        myVar = myFunc({{ data| tojson}}, {{ rest }})
    </script>
    </div>

</body>

</html>