<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CCC Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
</head>

<body>
    <div class="title">
        <h1 class="stroke">Australian Tweet Analysis</h1>
    </div>
    <ul>
        <div class="nav1">
            <a href="#">AFL Discussion Heat</a>
            <div class="nav2">
                <a href="/scenario1_afl">Twitter Amounts</a>
                <a href="/scenario1_afl/details">Detailed Analysis</a>
            </div>
        </div>
        <div class="nav1">
            <a href="#">Vaccine Sentiment Analysis</a>
            <div class="nav2">
                <a href="#">Positive Twitter Amounts</a>
                <a href="#">Neutral Twitter Amounts</a>
                <a href="#">Negative Twitter Amounts</a>
                <a href="#">Detailed Analysis</a>
            </div>
        </div>
        <div class="nav1">
            <a href="#">5G Sentiment Analysis</a>
            <div class="nav2">
                <a href="#">Positive Twitter Amounts</a>
                <a href="#">Neutral Twitter Amounts</a>
                <a href="#">Negative Twitter Amounts</a>
                <a href="#">Detailed Analysis</a>
            </div>
        </div>
        <div class="nav1">
            <a href="#" class="cont">Food</a>
            <div class="nav2">
                <a href="#">box1</a>
                <a href="#">box2</a>
                <a href="#">box3</a>
                <a href="#">box4</a>
            </div>
        </div>
    </ul>
    <!-- <div class="container">
        <div class="scenario">
            <button type="button" class="collapsible">AFL Discussion Amount</button>
            <div class="content">
                <p><a href="/scenario1_afl">Twitter Numbers</a></p>
                <p><a href="/scenario1_afl/details">Age Distribution Analysis</a></p>
            </div>
            <button type="button" class="collapsible">Vaccine</button>
            <div class="content">
                <p><a href="/scenario2_vaccine">Neutral Twitter Numbers</a></p>
                <p><a href="/scenario2_vaccine_positive">Positive Twitter Numbers</a></p>
                <p><a href="/scenario2_vaccine_negative">Negative Twitter Numbers</a></p>
                <p><a href="/scenario2_vaccine/details">Detailed Analysis</a></p>
            </div>
            <button type="button" class="collapsible">5G</button>
            <div class="content">
                <p><a href="/scenario3_5g">Neutral Twitter Numbers</a></p>
                <p><a href="/scenario3_5g_positive">Positive Twitter Numbers</a></p>
                <p><a href="/scenario3_5g_negative">Negative Twitter Numbers</a></p>
                <p><a href="/scenario3_5g/details">Detailed Analysis</a></p>
            </div>
            <button type="button" class="collapsible">Restaurants</button>
            <div class="content">
                <p><a href="/scenario4_food_us">American Food Twitter Numbers</a></p>
                <p><a href="/scenario4_food_cn">Chinese Food Twitter Numbers</a></p>
                <p><a href="/scenario4_food_fr">French Food Twitter Numbers</a></p>
                <p><a href="/scenario4_food_it">Italian Food Twitter Numbers</a></p>
                <p><a href="/scenario4_food_jp">Japanese Food Twitter Numbers</a></p>
                <p><a href="/scenario4_food_kr">Korean Food Twitter Numbers</a></p>
                <p><a href="/scenario4_food/details">Detailed Analysis</a></p>
            </div>
            <script src="{{ url_for('static', filename = 'button.js')}}"></script>
        </div> -->
    <!-- <div id="map"></div>
    <script src="{{ url_for('static', filename = 'map.js')}}"></script>
    <script type="text/javascript">
        myVar = myFunc()
    </script> -->
    <!-- </div> -->

    <style type="text/css">
        .stroke {
            color: transparent;
            font-size: 200%;
            -webkit-text-stroke: 1px black;
            letter-spacing: 0.04em;
            background-color:
        }
    </style>

</body>

</html>