<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">google.charts.load('current', { 'packages': ['bar'] });</script>
  <script type="text/javascript">google.charts.load('current', { 'packages': ['corechart'] });</script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
</head>

<body>

  <div class="title">
    <h1 class="stroke">Detailed Analysis</h1>
  </div>
  <ul>
    <div class="nav1">
      <a href="#">AFL Discussion Heat</a>
      <div class="nav2">
        <a href="/scenario1_afl">Twitter Amounts</a>
        <a href="/scenario1_afl/details">Detailed Analysis</a>
      </div>
    </div>
    <div class="nav1">
      <a href="#">Vaccine Sentiment Analysis</a>
      <div class="nav2">
        <a href="/scenario2_vaccine_positive">Positive Twitter Amounts</a>
        <a href="/scenario2_vaccine">Neutral Twitter Amounts</a>
        <a href="/scenario2_vaccine_negative">Negative Twitter Amounts</a>
        <a href="/scenario2_vaccine/details">Detailed Analysis</a>
      </div>
    </div>
    <div class="nav1">
      <a href="#">5G Sentiment Analysis</a>
      <div class="nav2">
        <a href="/scenario3_5g_positive">Positive Twitter Amounts</a>
        <a href="/scenario3_5g">Neutral Twitter Amounts</a>
        <a href="/scenario3_5g_negative">Negative Twitter Amounts</a>
        <a href="/scenario3_5g/details">Detailed Analysis</a>
      </div>
    </div>
    <div class="nav1">
      <a href="#">Food Discussion Heat</a>
      <div class="nav2">
        <a href="/scenario4_food_us">American Food Twitter Amounts</a>
        <a href="/scenario4_food_cn">Chinese Food Twitter Amounts</a>
        <a href="/scenario4_food_fr">French Food Twitter Amounts</a>
        <a href="/scenario4_food_it">Italian Food Twitter Amounts</a>
        <a href="/scenario4_food_jp">Japanese Food Twitter Amounts</a>
        <a href="/scenario4_food_kr">Korean Food Twitter Amounts</a>
        <a href="/scenario4_food/details">Detailed Analysis</a>
      </div>
    </div>
  </ul>
  <table>
    <tr>
      <td>
        <div id="barchart1" style="width: 900px; height: 500px;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'scene23.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}}, {{ scenario }})
          </script>
        </div>
      </td>

      <td>
        <script>
          //Hide div
          function hideDiv() {
            document.getElementById("piechart_23_adelaide").style.display = ("none");
            document.getElementById("piechart_23_brisbane").style.display = ("none");
            document.getElementById("piechart_23_canberra").style.display = ("none");
            document.getElementById("piechart_23_melbourne").style.display = ("none");
            document.getElementById("piechart_23_perth").style.display = ("none");
            document.getElementById("piechart_23_sydney").style.display = ("none");
          }
          setTimeout(hideDiv, 1000);
          $(function () {
            // Set change event for div
            $("#type").change(function () {
              if ($(this).val() == 1) {
                $("#piechart_23_overall").show();
                $("#piechart_23_adelaide").hide();
                $("#piechart_23_brisbane").hide();
                $("#piechart_23_canberra").hide();
                $("#piechart_23_melbourne").hide();
                $("#piechart_23_perth").hide();
                $("#piechart_23_sydney").hide();
              } else if ($(this).val() == 2) {
                $("#piechart_23_overall").hide();
                $("#piechart_23_adelaide").show();
                $("#piechart_23_brisbane").hide();
                $("#piechart_23_canberra").hide();
                $("#piechart_23_melbourne").hide();
                $("#piechart_23_perth").hide();
                $("#piechart_23_sydney").hide();
              }
              else if ($(this).val() == 3) {
                $("#piechart_23_overall").hide();
                $("#piechart_23_adelaide").hide();
                $("#piechart_23_brisbane").show();
                $("#piechart_23_canberra").hide();
                $("#piechart_23_melbourne").hide();
                $("#piechart_23_perth").hide();
                $("#piechart_23_sydney").hide();
              }
              else if ($(this).val() == 4) {
                $("#piechart_23_overall").hide();
                $("#piechart_23_adelaide").hide();
                $("#piechart_23_brisbane").hide();
                $("#piechart_23_canberra").show();
                $("#piechart_23_melbourne").hide();
                $("#piechart_23_perth").hide();
                $("#piechart_23_sydney").hide();
              }
              else if ($(this).val() == 5) {
                $("#piechart_23_overall").hide();
                $("#piechart_23_adelaide").hide();
                $("#piechart_23_brisbane").hide();
                $("#piechart_23_canberra").hide();
                $("#piechart_23_melbourne").show();
                $("#piechart_23_perth").hide();
                $("#piechart_23_sydney").hide();
              }
              else if ($(this).val() == 6) {
                $("#piechart_23_overall").hide();
                $("#piechart_23_adelaide").hide();
                $("#piechart_23_brisbane").hide();
                $("#piechart_23_canberra").hide();
                $("#piechart_23_melbourne").hide();
                $("#piechart_23_perth").show();
                $("#piechart_23_sydney").hide();
              }
              else if ($(this).val() == 7) {
                $("#piechart_23_overall").hide();
                $("#piechart_23_adelaide").hide();
                $("#piechart_23_brisbane").hide();
                $("#piechart_23_canberra").hide();
                $("#piechart_23_melbourne").hide();
                $("#piechart_23_perth").hide();
                $("#piechart_23_sydney").show();
              }
            })
          })
        </script>
        <div align="center">
          <select class="shortselect" size="1" name="type" id="type"
            style="text-align:center; text-align-last:center; margin:auto;">

            <option value="1">Overall</option>
            <option value="2">Adelaide</option>
            <option value="3">Brisbane</option>
            <option value="4">Canberra</option>
            <option value="5">Melbourne</option>
            <option value="6">Perth</option>
            <option value="7">Sydney</option>

          </select>
        </div>

        <!-- PIE Chart here -->
        <div id="piechart_23_overall" style="width: 900px; height: 500px; margin:0 auto;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'pie_chart_for_23.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}})
          </script>
        </div>

        <!-- PIE Chart here -->
        <div id="piechart_23_adelaide" style="width: 900px; height: 500px; margin:0 auto;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'pie_chart_for_23_ade.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}})
          </script>
        </div>

        <div id="piechart_23_brisbane" style="width: 900px; height: 500px; margin:0 auto;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'pie_chart_for_23_bri.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}})
          </script>
        </div>

        <div id="piechart_23_canberra" style="width: 900px; height: 500px; margin:0 auto;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'pie_chart_for_23_can.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}})
          </script>
        </div>

        <div id="piechart_23_melbourne" style="width: 900px; height: 500px; margin:0 auto;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'pie_chart_for_23_mel.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}})
          </script>
        </div>

        <div id="piechart_23_perth" style="width: 900px; height: 500px; margin:0 auto;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'pie_chart_for_23_per.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}})
          </script>
        </div>

        <div id="piechart_23_sydney" style="width: 900px; height: 500px; margin:0 auto;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'pie_chart_for_23_syd.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}})
          </script>
        </div>
      </td>

    </tr>
    <tr>
      <td>
        <div id="barchart2" style="width: 900px; height: 500px;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'scene23_age.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}}, {{ age_data| tojson}}, {{ scenario }})
          </script>
        </div>
      </td>

      <!-- Age Percentage -->
      <td>
        <div id="barchart2_percent" style="width: 900px; height: 500px;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'scene23_age_percent.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}}, {{ age_data| tojson}}, {{ scenario }})
          </script>
        </div>
      </td>

    </tr>
    <tr>
      <td>
        <div id="barchart3" style="width: 900px; height: 500px;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'scene23_income.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}}, {{ income| tojson}}, {{ scenario }}, false)
          </script>
        </div>
      </td>

      <!-- Twitter Sentiment Percentage -->
      <td>
        <div id="barchart3_percent" style="width: 900px; height: 500px;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'scene23_income_percent.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}}, {{ income| tojson}}, {{ scenario }}, true)
          </script>
        </div>
      </td>

    </tr>
    <tr>
      <td>
        <div id="barchart4" style="width: 900px; height: 500px;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'scene23_edu.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}}, {{ education| tojson}}, {{ scenario }})
          </script>
        </div>
      </td>

      <!-- Educational Level Percentage -->
      <td>
        <div id="barchart5" style="width: 900px; height: 500px;">
          <script type="text/javascript" src="{{ url_for('static', filename = 'scene23_edu_percent.js')}}"></script>
          <script type="text/javascript">
            myVar = myFunc({{ data| tojson}}, {{ education| tojson}}, {{ scenario }})
          </script>
        </div>
      </td>
    </tr>

  </table>

  <!-- <h3><a href="/">back</a></h3> -->
</body>

</html>