<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">google.charts.load('current', {'packages':['bar']});</script>
  </head>
  <body>
    <table>
      <tr>
        <td><div id="barchart1" style="width: 900px; height: 500px;">
              <script type="text/javascript" src="{{ url_for('static', filename = 'scene23.js')}}"></script>
              <script type="text/javascript">
                myVar = myFunc({{data|tojson}}, {{scenario}})
              </script>
        </div></td>
      </tr>
      <tr>
        <td><div id="barchart2" style="width: 900px; height: 500px;">
              <script type="text/javascript" src="{{ url_for('static', filename = 'scene23_age.js')}}"></script>
              <script type="text/javascript">
                myVar = myFunc({{data|tojson}}, {{age_data|tojson}}, {{scenario}})
              </script>
        </div></td>
      </tr>
      <tr>
        <td><div id="barchart3" style="width: 900px; height: 500px;">
              <script type="text/javascript" src="{{ url_for('static', filename = 'scene23_income.js')}}"></script>
              <script type="text/javascript">
                myVar = myFunc({{data|tojson}}, {{income|tojson}}, {{scenario}})
              </script>
        </div></td>
      </tr>
      <tr>
        <td><div id="barchart4" style="width: 900px; height: 500px;">
              <script type="text/javascript" src="{{ url_for('static', filename = 'scene23_edu.js')}}"></script>
              <script type="text/javascript">
                myVar = myFunc({{data|tojson}}, {{education|tojson}}, {{scenario}})
              </script>
        </div></td>
      </tr>
        
    </table>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script>
      $(function() {
          //隐藏div
      
          $("#pie_chart_sydney").hide();
          $("#pie_chart_adelaide").hide();
          //给div添加change事件
          $("#type").change(function() {
              if($(this).val() == 1 ) {
                  $("#pie_chart_melbourne").show();
                  $("#pie_chart_sydney").hide();
                  $("#pie_chart_adelaide").hide();
              } else if($(this).val() == 2 ) {
                  $("#pie_chart_sydney").show();
                  $("#pie_chart_melbourne").hide();
                  $("#pie_chart_adelaide").hide();
              }
              else if($(this).val() == 3 ) {
                  $("#pie_chart_adelaide").show();
                  $("#pie_chart_melbourne").hide();
                  $("#pie_chart_sydney").hide();
              }
          })
      })
  </script>

  <body>
      <select class="select" size="1" name="type" id="type">
          
          <option value="1">Melbourne</option>
          <option value="2">Sydney</option>
          <option value="3">Adelaide</option>
          
      </select>
        <div id="pie_chart_melbourne" style="width: 900px; height: 500px">
              <script type="text/javascript" src="{{ url_for('static', filename = 'pie_chart_for_2_melbourne.js')}}"></script>
              <script type="text/javascript">
                myVar = myFunc({{data|tojson}}, {{education|tojson}}, {{scenario}})
              </script>
        </div>
      <!-- <div id="figure2" style="width: 900px; height: 500px"> -->

        <div id="pie_chart_sydney" style="width: 900px; height: 500px">
              <script type="text/javascript" src="{{ url_for('static', filename = 'pie_chart_for_2_sydney.js')}}"></script>
              <script type="text/javascript">
                myVar = myFunc({{data|tojson}}, {{education|tojson}}, {{scenario}})
              </script>
        </div>

        <div id="pie_chart_adelaide" style="width: 900px; height: 500px">
              <script type="text/javascript" src="{{ url_for('static', filename = 'pie_chart_for_2_adelaide.js')}}"></script>
              <script type="text/javascript">
                myVar = myFunc({{data|tojson}}, {{education|tojson}}, {{scenario}})
              </script>
        </div>
  </body>

    <h3><a href="/">back</a></h3>
  </body>
</html>